<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="grid grid-cols-4 gap-4">
      <div class="col-span-3">
        <main class="page-content" aria-label="Content">
          <div class="wrapper">
            {{ content }}
          </div>
        </main>
      </div>
      <div>
        {%- include navigation.html -%}
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
